<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123632722078-4f7av54605jdb8qo6fddrkcnkc1s0j0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123632722078-4f7av54605jdb8qo6fddrkcnkc1s0j0m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>123632722078-anucrdujoflnf5ciuu1lgorg35t747ao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcb51TcRslogM2NPcHK64eD1NI8J8G4sI</string>
	<key>GCM_SENDER_ID</key>
	<string>123632722078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrWallet</string>
	<key>PROJECT_ID</key>
	<string>qr-wallet-1993</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-wallet-1993.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123632722078:ios:76d444f3d26ad5417a5b8f</string>
</dict>
</plist>